<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>The weather can have a significant impact on air quality since different aspects of the weather affect the
            amounts of ozone and particulates that are present in a specific area. Sunshine, rain, higher temperatures,
            wind speed, air turbulence, and mixing depths all affect pollutant concentrations.</p>
        <p>Sunshine can cause some pollutants to undergo chemical reactions, resulting in the development of smog</p>
        <p>Higher air temperatures can speed up chemical reactions in the air.</p>
        <p>Rain typically results in less pollution since it washes away particulate matter and can also wash out
                pollutants that are dissolvable.</p>
        <p>Wind speed, air turbulence, and mixing depth all affect how pollutants disperse, or spread out from an
                area.</p>
        </p>
    </div>
    {{>footer}}
</body>

</html>